name: XIVTouchPad Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: windows-2022

    env:
      Solution_Name: XIVTouchPad

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Download Dalamud
      run: |
        Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/latest.zip -OutFile latest.zip
        Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev"

    - name: Build with dotnet
      run: dotnet build --configuration Release

    - name: Store artifacts
      uses: actions/upload-artifact@v4
      with:
        name: XIVTouchPad
        path: .\XIVTouchPad\bin\x64\Release\XIVTouchPad\*
        if-no-files-found: error
        retention-days: 1